<h1> Welcome to Article Index.</h1>

<div>
	<%= link_to 'Create New Article', new_article_path %><br>
	There are currently <%= @articles.length %> created. You can view them below:
</div>

<div> <% @articles.each do |article| %>
	<h3> Title: <%= article.title %></h3>
	<p> <%= article.content %></p>
<%= button_to "Delete", article, method: :delete %>
<button><%= link_to 'edit', "/articles/:id/edit" %></button>


<% end %>
</div>

